$red-10: #fff1f1;
$red-20: #fcc;
$red-30: #fea7a7;
$red-40: #ff8080;
$red-50: #ff5d5d;
$red-60: #f43d44;
$red-70: #e2242b;
$red-80: #cc141a;
$red-90: #b60b11;
$red-100: #9d0208;
$green-10: #e6fff4;
$green-20: #bff7de;
$green-30: #86edbf;
$green-40: #50e4a2;
$green-50: #35d48d;
$green-60: #1bbf83;
$green-70: #0fa76f;
$green-80: #088a5a;
$green-90: #026f47;
$green-100: #025335;
$gray-10: #fdfeff;
$gray-20: #f2f3f4;
$gray-30: #e1e4e6;
$gray-40: #ced3d6;
$gray-50: #a9afb3;
$gray-60: #878d91;
$gray-70: #4d5256;
$gray-80: #363a3d;
$gray-90: #282c2d;
$gray-100: #191b1c;
$gray-110: #f0f9ff;
$gray-120: #000000;
$gray-130: #979797;
$gray-140: #5c5e61;
$gray-150: #f6f6f6;
$gray-160: #ededed;
$blue-10: #e6eeff;
$blue-20: #c8d9ff;
$blue-30: #88acfb;
$blue-40: #4e85ff;
$blue-50: #256aff;
$blue-60: #0050ff;
$blue-70: #0043d4;
$blue-80: #0038b2;
$blue-90: #002d90;
$blue-100: #002371;
$blue-110: #25459a;
$blue-120: #013158;
$blue-130: #364b68;
$blue-140: #061e5d;
$blue-150: #43619e;
$blue-160: #0c244f;
