.slick-slider {
	height: 614px;
	width: 100%;
	
	.slick-list {
		.slick-track {
			display: flex;
			align-items: stretch;
			width: 400%;
			transition: transform 0.4s ease;
				.slick-slide {
					padding: 0;
					margin: 0 6px;
					width: calc(25% - 12px);
						img {
							width: 100%;
							height: auto;
						}
						div {
							text-align: center;
							color: $colors-gray80;
							font-size: 16px;
							margin-top: 12px;
						}
				}
		}
	}
}

@media (min-width: 768px) and (max-width: 1150px) {
	.slick-track {
		height: 640px;

		.slick-slide {
			width: calc(50% - 12px);
		}
	}
}

@media (min-width: 541px) and (max-width: 767px) {
	.slick-slider {
		height: 520px;
		.slick-list {
			.slick-track {
				.slick-slide {
					padding: 0px;

					.slick {
						padding: 0px;
					}
				}
			}
		}
	}
}

@media (max-width: 540px) {
	.slick-slider {
		height: 592px;

		.slick-list {
			.slick-track {
				.slick-slide {
					padding: 0px;

					.slick {
						padding: 0px;
					}
				}
			}
		}
	}
}