$colors-gray0: #fff;
$colors-gray10: #fdfeff;
$colors-gray20: #f2f3f4;
$colors-gray30: #e1e4e6;
$colors-gray40: #ced3d6;
$colors-gray50: #a9afb3;
$colors-gray60: #878d91;
$colors-gray70: #5e6367;
$colors-gray80: #363a3d;
$colors-gray90: #282c2d;
$colors-gray100: #000;
$colors-gray100-t50: rgba(0, 0, 0, 0.5);

$colors-yellow10: #fffae7;
$colors-yellow20: #fff0b4;
$colors-yellow30: #ffe682;
$colors-yellow40: #ffd739;
$colors-yellow50: #ffce00;
$colors-yellow60: #e9bc00;
$colors-yellow70: #cda600;
$colors-yellow80: #a48400;
$colors-yellow90: #7a6300;
$colors-yellow100: #5f4c00;

$colors-blue10: #e6f3ff;
$colors-blue20: #badeff;
$colors-blue30: #82c3ff;
$colors-blue40: #3ca2ff;
$colors-blue50: #0086ff;
$colors-blue50-t80: rgba(0, 134, 255, 0.8);
$colors-blue60: #006be4;
$colors-blue70: #0053bf;
$colors-blue80: #004298;
$colors-blue90: #002a61;
$colors-blue100: #001d42;

$colors-red40: #ff7575;
$colors-red100: #ff5d5d;

$colors-orange60: #fc6a03;

$color-list: (
    "gray0": $colors-gray0,
    "gray10": $colors-gray10,
    "gray20": $colors-gray20,
    "gray30": $colors-gray30,
    "gray40": $colors-gray40,
    "gray50": $colors-gray50,
    "gray60": $colors-gray60,
    "gray70": $colors-gray70,
    "gray80": $colors-gray80,
    "gray90": $colors-gray90,
    "gray100": $colors-gray100,
    "gray100-t50": $colors-gray100-t50,
    "yellow10": $colors-yellow10,
    "yellow20": $colors-yellow20,
    "yellow30": $colors-yellow30,
    "yellow40": $colors-yellow40,
    "yellow50": $colors-yellow50,
    "yellow60": $colors-yellow60,
    "yellow70": $colors-yellow70,
    "yellow80": $colors-yellow80,
    "yellow90": $colors-yellow90,
    "yellow100": $colors-yellow100,
    "blue10": $colors-blue10,
    "blue20": $colors-blue20,
    "blue30": $colors-blue30,
    "blue40": $colors-blue40,
    "blue50": $colors-blue50,
    "blue60": $colors-blue60,
    "blue70": $colors-blue70,
    "blue80": $colors-blue80,
    "blue90": $colors-blue90,
    "blue100": $colors-blue100,
    "red40": $colors-red40,
    "red100": $colors-red100
);

@each $name, $color in $color-list {
    .foreground-#{$name} {
        color: $color !important;
    }

    .background-#{$name} {
        background-color: $color !important;
    }

    .border-#{$name} {
        border-color: $color !important;
    }
}

%font {
    color: $colors-gray80;
    letter-spacing: -0.5%;
}

%font-bold {
    @extend %font;
    font-weight: 700;
}

%font-regular {
    @extend %font;
    font-weight: 400;
}

%font-h1 {
    @extend %font-bold;
    font-size: 28px;
    line-height: 38px;
}
.h1 {
    @extend %font-h1;
}

%font-h2 {
    @extend %font-bold;
    font-size: 24px;
    line-height: 32px;
}
.h2 {
    @extend %font-h2;
}

%font-h3 {
    @extend %font-bold;
    font-size: 22px;
    line-height: 30px;
}
.h3 {
    @extend %font-h3;
}

%font-s1 {
    @extend %font-bold;
    font-size: 20px;
    line-height: 27px;
}
.s1 {
    @extend %font-s1;
}

%font-s2 {
    @extend %font-bold;
    font-size: 18px;
    line-height: 25px;
}
.s2 {
    @extend %font-s2;
}

%font-s3 {
    @extend %font-bold;
    font-size: 16px;
    line-height: 23px;
}
.s3 {
    @extend %font-s3;
}

%font-s4 {
    @extend %font-bold;
    font-size: 14px;
    line-height: 21px;
}
.s4 {
    @extend %font-s4;
}

%font-s5 {
    @extend %font-bold;
    font-size: 12px;
    line-height: 19px;
}
.s5 {
    @extend %font-s5;
}

%font-b1 {
    @extend %font-regular;
    font-size: 20px;
    line-height: 27px;
}
.b1 {
    @extend %font-b1;
}

%font-b2 {
    @extend %font-regular;
    font-size: 18px;
    line-height: 25px;
}
.b2 {
    @extend %font-b2;
}

%font-b3 {
    @extend %font-regular;
    font-size: 16px;
    line-height: 23px;
}
.b3 {
    @extend %font-b3;
}

%font-b4 {
    @extend %font-regular;
    font-size: 14px;
    line-height: 21px;
}
.b4 {
    @extend %font-b4;
}

%font-c1 {
    @extend %font-regular;
    font-size: 12px;
    line-height: 19px;
}
.c1 {
    @extend %font-c1;
}

%font-c2 {
    @extend %font-bold;
    font-size: 10px;
    line-height: 14px;
}
.c2 {
    @extend %font-c2;
}

%font-c3 {
    @extend %font-regular;
    font-size: 10px;
    line-height: 14px;
}
.c3 {
    @extend %font-c3;
}

$border: 1px solid;

%background-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
