.button {
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.primary {
        color: $colors-orange60 !important;
        background-color: $colors-gray10;
        border-color: $colors-orange60;

        &:hover,
        &.hover {
            color: $colors-gray10 !important;
            background-color: $colors-orange60;
            border-color: $colors-orange60;
        }

        &.disabled {
            color: $colors-gray10 !important;
            background-color: $colors-gray40;
            border-color: $colors-gray40;
            cursor: not-allowed;
        }

        &.outline {
            color: $colors-blue50 !important;
            background-color: $colors-gray0;
            border-color: $colors-blue50;

            &:hover,
            &.hover {
                color: $colors-blue40 !important;
                border-color: $colors-blue40;
            }

            &.disabled {
                color: $colors-gray30 !important;
                border-color: $colors-gray30;
            }
        }
    }

    &.normal {
        color: $colors-orange60 !important;
        border-color: $colors-gray60;

        &:hover,
        &.hover {
            color: $colors-orange60 !important;
            border-color: $colors-orange60;
        }

        &.disabled {
            color: $colors-gray10 !important;
            background-color: $colors-gray30;
            border-color: $colors-gray30;
            cursor: not-allowed;
        }

        &.outline {
            color: $colors-gray80 !important;
            background-color: $colors-gray0;
            border-color: $colors-gray80;

            &:hover,
            &.hover {
                color: $colors-gray60 !important;
                border-color: $colors-gray60;
            }

            &.disabled {
                color: $colors-gray30 !important;
                border-color: $colors-gray30;
            }
        }
    }

    &.danger {
        color: $colors-gray10 !important;
        background-color: $colors-red100;
        border-color: $colors-red100;

        &:hover,
        &.hover {
            color: $colors-red100 !important;
            background-color: $colors-red40;
            border-color: $colors-red40;
        }

        &.disabled {
            color: $colors-gray10 !important;
            background-color: $colors-gray30;
            border-color: $colors-gray30;
            cursor: not-allowed;
        }

        &.outline {
            color: $colors-red100 !important;
            background-color: $colors-gray0;
            border-color: $colors-red100;

            &:hover,
            &.hover {
                color: $colors-red40 !important;
                border-color: $colors-red40;
            }

            &.disabled {
                color: $colors-gray30 !important;
                border-color: $colors-gray30;
            }
        }
    }

    &.large {
        padding: 16px 30px;
        @extend %font-s4;
    }

    &.medium,
    &.small {
        @extend %font-c1;
    }

    &.medium {
        padding: 10px 20px;
    }

    &.small {
        padding: 8px 14px;
    }
}

.toggle-button {
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    color: $colors-gray60 !important;
    border-color: $colors-gray60;
    background-color: $colors-gray0;

    &:hover,
    &.hover {
        color: $colors-blue40 !important;
        border-color: $colors-blue40;
        background-color: $colors-gray0;
    }

    &.selected {
        color: $colors-gray10 !important;
        background-color: $colors-blue50;
        border-color: $colors-blue50;
    }

    &.large {
        padding: 16px 30px;
        @extend %font-s4;
    }

    &.medium {
        padding: 10px 20px;
        @extend %font-c1;
    }
}
